.additional-products {
  padding-top: 25px;
  padding-bottom: 35px;
}

.additional-products__header {
  margin-top: 0;
  margin-bottom: 36px;
  color: $black;
  font-family: "Oswald", "Tahoma", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    left: 0;
    margin-top: 14px;
    height: 2px;
    background-image: linear-gradient(90deg, transparent calc(50% - 159px), $green calc(50% - 159px));
  }
}

.additional-products__header-text {
  display: inline-block;
  background-color: $white;
  padding-left: 20px;
  padding-right: 20px;
}

.additional-products__name {
  margin: 0;
  margin-bottom: 13px;
  grid-column: 1 / -1;
  color: $special-dark-grey;
  font-family: "Oswald", "Tahoma", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
}

.additional-products__list {
  list-style: none;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.additional-products__item {
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 10px;
  padding-top: 13px;
  padding-bottom: 19px;
  border-top: 1px solid $border-grey;

  &:last-child {
    border-bottom: 1px solid $border-grey;
  }
}

.additional-products__pack {
  line-height: 14px;
}

.additional-products__price {
  line-height: 14px;
  text-align: right;
}

.additional-products__button {
  grid-column: 1 / -1;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 15px;
}

@media (min-width: $tablet-width) {
  .additional-products {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .additional-products__list {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 70px;
  }

  .additional-products__item {
    grid-template-columns: 2fr 1fr 80px;
    row-gap: 25px;
    align-items: center;
    border-right: 1px solid $border-grey;
    border-left: 1px solid $border-grey;
    padding: 26px 38px 28px 38px;
  }

  .additional-products__header {
    margin-bottom: 80px;
    font-size: 36px;
    line-height: 36px;

    &::before {
      margin-top: 22px;
      background-image: none;
      background-color: $green;
    }
  }

  .additional-products__header-text {
    margin-left: 30px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .additional-products__name {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;
    grid-column: 1 / 2;
  }

  .additional-products__pack {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  .additional-products__button {
    margin-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .additional-products__list {
    padding-left: 110px;
    padding-right: 0;
    flex-grow: 1;
  }

  .additional-products__item {
    grid-template-columns: 1fr 233px 70px 244px;
    row-gap: 0;
    align-items: center;
    border-color: $border-grey;
    padding: 15px 0 17px 0;
    border-left: none;
    border-right: none;
  }

  .additional-products__button {
    grid-column: 4 / 5;
  }

  .additional-products__pack {
    text-align: left;
  }

  .additional-products__price {
    font-size: 16px;
    line-height: 20px;
    text-align: left;
  }

  .additional-products__header-text {
    margin-left: 70px;
  }

  .additional-products__wrapper {
    display: flex;
    gap: 80px;
  }

  .additional-products__banner {
    width: 245px;
    margin-right: 110px;
  }
}
