.button {
  display: inline-block;
  font-family: "Oswald", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
  border-radius: 0;
  text-decoration: none;
  padding: 14px 26px;
  color: $white;
  background-color: $green;
  cursor: pointer;

  &:hover {
    background-color: $green-hover;
  }

  &:active {
    background-color: $green-hover;
    color: $white-hover;
  }

  &:focus {
    background-color: $green-hover;
    color: $white-hover;
    outline: 1px solid $outline-color;
  }

  &--grey {
    background-color: $basic-grey;
    color: $dark-gray;

    &:hover {
      background-color: $special-grey-hover;
    }

    &:active {
      background-color: $special-grey-hover;
      color: $dark-gray;
    }

    &:focus {
      outline: 1px solid $outline-color;
      color: $dark-gray;
      background-color: $special-grey-hover;
    }
  }
}

@media (min-width: $tablet-width) {
  .button {
    font-size: 20px;
    line-height: 26px;
  }
}
