.button {
  display: inline-block;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
  border-radius: 0;
  text-decoration: none;
  padding: 14px 26px;
  color: $white;
  background-color: $green;

  &--grey {
    background-color: $basic-grey;
    color: $dark-gray;
  }
}
