.control {
  display: flex;
  gap: 15px;
}

.control__radio {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid $special-grey;
}

.control__input:checked ~ .control__radio::after {
  display: block;
  content: "";
  border-radius: 50%;
  background: $green;
  width: 14px;
  height: 14px;
}

.control__input:hover ~ .control__radio {
  border-color: $control-hover;
}

.control__input:disabled ~ .control__radio {
  border-color: $control-hover;
  opacity: 0.3;
}

.control__input:disabled ~ .control__label {
  opacity: 0.3;
}

.control__input:focus ~ .control__radio {
  outline: 1px solid $outline-color;
}

.control__checkbox {
  width: 26px;
  height: 26px;
  border: 1px solid $special-grey;
}

.control__input:checked ~ .control__checkbox::after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("../../img/checkbox-tick.svg");
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .control {
    gap: 20px;
    padding-right: 0;
    padding-left: 0;

  }
}

@media (min-width: $desktop-width) {
  .control__radio {
    width: 40px;
    height: 40px;
  }

  .control__input:checked ~ .control__radio::after {
    width: 18px;
    height: 18px;
  }
}
