.example {
  background-color: $grey;
}

.example__wrapper {
  padding: 25px 20px 40px 20px;
}

.example__header {
  margin: 0;
  color: $black;
  margin-bottom: 40px;
}

.example__text {
  margin: 0;
  margin-bottom: 20px;
}

.example__list {
  display: grid;
  margin: 0;
  margin-bottom: 20px;
  grid-template-rows: 56px min-content;
  grid-auto-columns: 124px;
  column-gap: 32px;
  text-align: center;
}

.example__item-name {
  grid-row: 2 / 3;
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
  transform: translateY(-8px);
}

.example__item-name-text {
  background-color: $grey;
  display: block;
  width: 85px;
  padding: 0 10px;
  margin-left: auto;
  margin-right: auto;
}

.example__item-value {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 1 / 2;
  margin: 0;
  color: $black;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  white-space: nowrap;
  border-radius: 3px;
  border: 1px solid $special-grey;
}

.example__expenses {
  display: flex;
  gap: 5px;
  justify-content: center;
  color: $black;
  text-align: center;
  font-family: "Oswald", sans-serif;
  line-height: 20px;
  text-transform: uppercase;
}

.example__photo {
  position: relative;
  height: 256px;
}

.example__photo-before {
  position: absolute;
  height: 100%;
  width: 50%;
  background-image: url("../../img/fat-cat.png");
  background-size: 280px 100%;
  background-position: left center;
  background-repeat: no-repeat;
  background-color: $grey;
  z-index: 2;
}

.example__photo-after {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("../../img/slim-cat.png");
  background-size: 280px 100%;
  background-position: left center;
  background-repeat: no-repeat;
  background-color: $grey;
  z-index: 1;
}

.example__photo-toggle {
  position: absolute;
  z-index: 10;
  padding: 0;
  width: 4px;
  height: 100%;
  background-color: $special-grey-button;
  border: none;
  border-radius: 2px;
  top: 0;
  transform: translateX(-50%);
  cursor: col-resize;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $white;
    border: 2px solid $special-grey-button;
    background-image: url("../../img/toggle-button-icon.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media (min-width: $tablet-width) {
  .example {
    background-color: transparent;
    background-image: linear-gradient(0deg, $grey 462px, transparent 462px);
  }

  .example__wrapper {
    padding: 45px 30px 101px 30px;
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .example__expenses {
    flex-direction: column;
    gap: 9px;
    text-align: right;
    font-size: 20px;
  }

  .example__header {
    grid-column: 1 / -1;
  }

  .example__text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 55px;
    grid-column: 1 / -1;
  }

  .example__list {
    grid-auto-columns: 162px;
    column-gap: 43px;
    grid-template-rows: 72px min-content;
    margin-bottom: 0;
  }

  .example__item-name {
    font-size: 14px;
    line-height: 14px;
  }

  .example__item-value {
    font-size: 30px;
    line-height: 37px;
  }

  .example__item-name-text {
    display: inline;
    background-color: $white;
  }

  .example__photo {
    grid-column: 1 / -1;
    margin-top: 99px;
    width: 560px;
    height: 512px;
    margin-left: auto;
    margin-right: auto;
  }

  .example__photo-before {
    background-size: 560px 100%;
    background-color: transparent;
    background-image: url("../../img/fat-cat.png"), linear-gradient(0deg, $grey 361px, $white 361px);
  }

  .example__photo-after {
    background-size: 560px 100%;
    background-color: transparent;
  }
}

@media (min-width: $desktop-width) {
  .example {
    background-image: linear-gradient(0deg, $basic-grey 462px, transparent 462px);
  }

  .example__wrapper {
    padding: 0 110px 75px 110px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 206px min-content 132px max-content;
    column-gap: 100px;
  }

  .example__header {
    margin-bottom: 0;
    grid-column: 1 / 2;
  }

  .example__text {
    grid-column: 1 / 2;
    margin-bottom: 69px;
    padding-right: 95px;
  }

  .example__list {
    grid-column: 1 / 2;
  }

  .example__expenses {
    grid-column: 1 / 2;
    gap: 63px;
    flex-direction: row;
    justify-content: initial;
  }

  .example__photo {
    grid-row: 1 / -1;
    grid-column: 2 / 3;
    padding-bottom: 10px;
    margin-top: 0;
  }

  .example__photo-before {
    background-image: url("../../img/fat-cat.png"), linear-gradient(0deg, $basic-grey 377px, $white 377px);
  }

  .example__item-name-text {
    background-color: $basic-grey;
  }
}
