.form__fieldset {
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
  padding-left: 20px;
  padding-right: 20px;


  &--radio {
    border-top: 1px solid $border-grey;
    border-bottom: 1px solid $border-grey;
    padding-top: 22px;
    padding-bottom: 19px;
  }
}

.form__label {
  display: flex;
  align-items: center;
  font-family: "Oswald",sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 14px;
  gap: 13px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__input {
  flex-grow: 1;
}

.form__label-text {
  white-space: nowrap;
}

.form__control-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form__control-item {
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__fieldset-header {
  color: $black;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 35px;
}

.form__button {
  width: 100%;
  padding: 10px 44px;
  margin-bottom: 21px;
}

.form__bottom-footnote {
  display: block;
  text-align: center;
}
