.goal {
  padding-left: 20px;
  padding-right: 20px;
}

.goal__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.goal__header {
  color: $black;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
  padding-left: 70px;
  margin-bottom: 29px;
}

.goal__text {
  margin: 0;
  margin-bottom: 23px;
}

.goal__link {
  display: block;
  text-decoration: none;
  color: $black;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  border-top: 1px solid $border-grey;
  padding-top: 15px;

  &::after {
    content: "";
    display: inline-block;
    width: 24px;
    height: 12px;
    background-image: url("../../img/goal-arrow.svg");
    background-repeat: no-repeat;
    background-position: center right;
    margin-left: 15px;
  }

  &:hover::after {
    width: 32px;
  }

  &:active {
    opacity: 0.3;

    &::after {
      width: 32px;
    }
  }

  &:focus {
    outline: 1px solid $outline-color;
  }
}

.goal__item {
  background-color: $basic-grey;
  background-repeat: no-repeat;
  margin-bottom: 20px;
  padding: 30px 20px 18px 20px;

  &--slim {
    background-image: url("../../img/cat-slim.svg");
    background-position: 20px 21px;
    background-size: 50px 53px;
  }

  &--pro {
    background-image: url("../../img/cat-pro.svg");
    background-position: 13px 24px;
    background-size: 67px 50px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .goal {
    padding-left: 30px;
    padding-right: 30px;
  }

  .goal__header {
    font-size: 36px;
    line-height: 36px;
    padding-left: 0;
    margin-bottom: 24px;
  }

  .goal__text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 52px;
  }

  .goal__item {
    min-height: 372px;
    padding: 77px 316px 57px 53px;
    margin-bottom: 30px;

    &--slim {
      background-size: 200px 211px;
      background-position: calc(100% - 63px) center;
    }

    &--pro {
      background-size: 268px 200px;
      background-position: calc(100% - 29px) center;
    }
  }

  .goal__link {
    display: flex;
    border-top: 0;
    font-size: 20px;
    line-height: 20px;
    align-items: center;
  }
}

@media (min-width: $desktop-width) {
  .goal {
    padding-top: 82px;
    padding-left: 110px;
    padding-right: 110px;
  }

  .goal__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }

  .goal__item {
    padding: 77px 52px 55px 52px;
    margin-bottom: 0;

    &--slim {
      background-size: 110px 106px;
      background-position: 52px 41px;
    }

    &--pro {
      background-size: 134px 100px;
      background-position: 33px 47px;
    }
  }

  .goal__header {
    padding-left: 162px;
    margin-bottom: 73px;
  }

  .goal__text {
    margin-bottom: 27px;
  }

  .goal__link {
    padding-top: 0;

    &:active {

    }
  }
}
