.main-nav{
  color: $black;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}

.main-nav__toggle {
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: url("../../img/button-toggle-burger.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.main-nav__list {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;

  &--opened {
    display: block;
  }
}

.main-nav__link {
  display: block;
  padding-top: 22px;
  padding-bottom: 24px;
  text-decoration: none;
  color: $black;
}

.main-nav__item {
  text-align: center;
  border-top: 1px solid #E6E6E6;

  &:last-child {
    border-bottom: 1px solid #E6E6E6;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    font-size: 18px;
    line-height: 24px;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    gap: 33px;
  }

  .main-nav__item {
    border-top: none;

    &:last-child {
      border-bottom: none;
    }
  }

  .main-nav__link {
    padding-top: 10px;
    padding-bottom: 10px;

    &--active {
      border-bottom: 2px solid $green;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    font-size: 20px;
    line-height: 20px;
  }

  .main-nav__link {
    &--white {
      color: $white;
      border-color: $white;
    }
  }
}
