.page {
  height: 100%;
}

.page__body {
  font-family: "Lato", "Arial", sans-serif;
  color: $dark-gray;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
}
