.program-selection {
  padding-bottom: 32px;
}

.program-selection__text {
  color: $black;
  font-family: "Oswald",sans-serif;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 39px;
  padding-left: 20px;
  padding-right: 20px;
}
