.promo {
  text-align: center;
  background-image:
    linear-gradient(rgba(104, 183, 56, 0.85) 303px, transparent 303px),
    url("../img/promo-cat.jpg"),
    linear-gradient($promo-dark-grey 303px, transparent 303px);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 303px, 320px 302px, 100% 303px;

  @media (min-resolution: 2dppx) {
    background-image:
      linear-gradient(rgba(104, 183, 56, 0.85) 303px, transparent 303px),
      url("/img/promo-cat@x2.jpg"),
      linear-gradient($promo-dark-grey 303px, transparent 303px);
  }
}



.promo__wrapper {
  padding: 27px 20px 20px 20px;
}

.promo__header {
  color: $white;
  margin: 0;
  margin-bottom: 25px;
}

.promo__text {
  color: $white;
  margin: 0;
  font-family: "Oswald", "Tahoma", sans-serif;
  line-height: 14px;
  text-transform: uppercase;
  margin-bottom: 29px;
}

.promo__link {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .promo {
    text-align: left;
    background-image: none;
  }

  .promo__wrapper {
    position: relative;
    padding: 65px 30px 0 30px;
  }

  .promo__header {
    color: $black;
    text-align: left;
    margin-left: 90px;
    margin-right: 180px;
    margin-bottom: 40px;
  }

  .promo__text {
    color: $black;
    line-height: 20px;
    font-size: 20px;
    text-align: left;
    margin-left: 90px;
    margin-bottom: 21px;
  }

  .promo__image {
    width: 709px;
    height: 609px;
  }

  .promo__link {
    position: absolute;
    width: auto;
    left: 120px;
    bottom: 526px;
  }
}

@media (min-width: $desktop-width) {
  .promo__background {
    height: 695px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    background-image:
      linear-gradient(90deg, transparent 50%, rgba(104, 183, 56, 0.85) 50%),
      url("../img/promo-cat-desktop.jpg"),
      linear-gradient(90deg, transparent 50%, $promo-dark-grey 50%);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 100%, 720px 694px, 100%;

    @media (min-resolution: 2dppx) {
      background-image:
        linear-gradient(90deg, transparent 50%, rgba(104, 183, 56, 0.85) 50%),
        url("../img/promo-cat-desktop@x2.jpg"),
        linear-gradient(90deg, transparent 50%, $promo-dark-grey 50%);
    }
  }

  .promo__wrapper {
    min-height: 590px;
    padding-top: 110px;
    padding-left: 0;
  }

  .promo__image {
    position: absolute;
    width: 552px;
    height: 499px;
    bottom: 52px;
    right: 331px;
  }

  .promo__link {
    position: initial;
    margin-left: 190px;
  }

  .promo__header {
    width: 420px;
    margin-left: 190px;
    margin-bottom: 40px;
  }

  .promo__text {
    margin-left: 190px;
    margin-bottom: 52px;
  }
}
