.social__icon {
  color: $special-grey-button;
}

.social__link:focus .social__icon {
  color: $green;
}

.social__link:hover .social__icon {
  color: $green;
}

.social__link:active .social__icon {
  color: $green;
  opacity: 0.3;
}
