$dark-gray: #444444;
$special-dark-grey: #222222;
$grey: #EAEAEA;
$special-border-grey: #E7E7E7;
$special-grey: #CDCDCD;
$border-grey: #D9D9D9;
$basic-grey: #F2F2F2;
$light-gray: #E6E6E6;
$special-black: #111111;
$black: #000000;
$white: #FFFFFF;
$green: #68B738
