$dark-gray: #444444;
$special-dark-grey: #222222;
$grey: #eaeaea;
$special-border-grey: #e7e7e7;
$special-grey: #cdcdcd;
$special-grey-hover: #ebebeb;
$special-grey-button: #666666;
$control-hover: #bababa;
$border-grey: #d9d9d9;
$basic-grey: #f2f2f2;
$light-gray: #e6e6e6;
$special-black: #111111;
$black: #000000;
$white: #ffffff;
$white-hover: rgba(255, 255, 255, 0.3);
$green: #68b738;
$green-hover:#5eaa2f;
$outline-color: #0085f2;
$error: #ff8282;
